<section class="about section-padding" id="section_2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <img src="images/DreamShaper_v7_A_group_of_people_from_different_backgrounds_an_2.jpg" class="about-image img-fluid" alt="" />
      </div>

      <div class="col-lg-6 col-12 mt-5 mt-lg-0">
        <div class="about-thumb">
          <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
            <h2 class="text-white me-4 mb-0">My Story</h2>
            <img src="images/happy-bearded-young-man.jpg" class="avatar-image img-fluid" alt="" />
          </div>

          <h3 class="pt-2 mb-3">A little bit about Mohammed</h3>

          <p>
            👋 Greetings I'm Mohammed, a dedicated software engineer with a passion for creating innovative solutions. 
            My journey in the field of Information Technology began at the Arab International University
            in 2016, where I pursued a Bachelor's Degree in Computer Software Engineering, 
            graduating in 2021.
            <br>
            <h5> BPro Story </h5>   
            Upon completion of my studies, I embarked on a project to develop an Enterprise Resource Planning (ERP) system. This
            comprehensive system encompasses seven core components: Inventory Management,
            Purchasing, Sales, Customer Relationship Management (CRM), Finance, Payments, and
            Resources
            <br>
            <br>
            <h5> Almuthafar Story </h5>
            For <a href="https://www.bayantechnologies.com/"> Bayan Digital Hub </a> (Kuwaiti AWS startup, Oracle Partner ): Develop a platform for
            managing and tracking law case processes, clients, lawyers, and the administration processes, producing
            the results as PDF reports, and making sure that the case processes run smoothly and
            organized.
            <br>
            <br>
            <h5> Big-dash Story </h5>
            Engaging in developing a comprehensive banking system ( for <a href="https://moneyout.com.tr"> Moneyout Elektronik Para ve
            Ödeme Hizmetleri A.Ş </a>) aimed at facilitating financial transactions across various branches,
            incorporating digital wallet functionalities, and supporting transactions executed in
            multiple currencies.
            <br>
            <br>
            <h5> Easy-pay Story </h5>
            For <a href="https://www.facebook.com/MONALISA.SYRIA"> Monalisa restaurant in Damascus </a>, the system includes managing reservations, tables,
            products, invoices, government tax integration, debits, and producing different types of reports like
            sales and logs of payments.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> 