<section class="featured section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="profile-thumb">
          <div class="profile-title">
            <h4 class="mb-0">Personal Information</h4>
          </div>

          <div class="profile-body">
            <div class="profile-info-item">
              <span class="profile-small-title">Name</span>
              <span class="profile-value">Mohammed Al-yaseen</span>
            </div>

            <div class="profile-info-item">
              <span class="profile-small-title">Birthday</span>
              <span class="profile-value">Jun 1, 1998</span>
            </div>

            <div class="profile-info-item">
              <span class="profile-small-title">Phone</span>
              <span class="profile-value">
                <a href="tel:+963-962-469-482" class="profile-link">
                  <i class="bi bi-telephone-fill me-2"></i>+963-962-469-482
                </a>
              </span>
            </div>

            <div class="profile-info-item">
              <span class="profile-small-title">Email</span>
              <span class="profile-value">
                <a href="mailto:mohammed.alyaseen.it@gmail.com" class="profile-link">
                  <i class="bi bi-envelope-fill me-2"></i>mohammed.alyaseen.it@gmail.com
                </a>
              </span>
            </div>

            <div class="profile-info-item">
              <span class="profile-small-title">Location</span>
              <span class="profile-value">
                <i class="bi bi-geo-alt-fill me-2"></i>Istanbul, Turkey
              </span>
            </div>

            <div class="profile-info-item">
              <span class="profile-small-title">Social</span>
              <div class="profile-social-links">
                <a href="https://www.linkedin.com/in/mohammed-al-yaseen-79b056161/" class="profile-social-link" target="_blank">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/mohammed-alyaseen" class="profile-social-link" target="_blank">
                  <i class="bi bi-github"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100010330412662" class="profile-social-link" target="_blank">
                  <i class="bi bi-facebook"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12 mt-5 mt-lg-0">
        <div class="about-thumb">
          <div class="row">
            <div class="col-lg-6 col-6 featured-border-bottom py-3">
              <div class="featured-item">
                <strong class="featured-numbers">4+</strong>
                <p class="featured-text">Years of Experience</p>
                <div class="featured-icon">
                  <i class="bi bi-briefcase-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-6 featured-border-start featured-border-bottom ps-5 py-3">
              <div class="featured-item">
                <strong class="featured-numbers">5+</strong>
                <p class="featured-text">Happy Customers</p>
                <div class="featured-icon">
                  <i class="bi bi-people-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-6 pt-4">
              <div class="featured-item">
                <strong class="featured-numbers">10+</strong>
                <p class="featured-text">Projects Finished</p>
                <div class="featured-icon">
                  <i class="bi bi-check-circle-fill"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-6 featured-border-start ps-5 pt-4">
              <div class="featured-item">
                <strong class="featured-numbers">7+</strong>
                <p class="featured-text">Digital Awards</p>
                <div class="featured-icon">
                  <i class="bi bi-trophy-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 